body {
    background-color: gray;
}

header {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgb(61, 61, 61);
}

#figure {
    display: inline-block;
    margin: 10px;

}

header h1 {
    margin-left: 20px;
    display: inline-block;
    text-align: left;
    font-size: 70px;
}

aside {
    width: 20%;
    height: 200px;
    float: left;
    margin-top: 10px;
    font-size: 30px;
    background-color: rgb(61, 61, 61);
}

main {
    width: 70%;
    height: 70%;
    float: left;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}