*{
    padding: 0;
    margin: 0;

}

body {
    background-color: gray;
}

header {
    width: 99%;
    height: auto;
    float: left;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

#titulo {
    margin-top: 10px
}

#figure {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 2px;
    float: left;
}

#figure_github_user {
    width: 80px;
    height: 80px;
    float: right;
    position: relative;
    border-radius: 50px;
    margin-top: 20px;
    visibility: hidden;
}

#figure_github_user:hover {
    
}

#figure_github {
    width: 80px;
    height: 80px;
    float: right;
    position: static;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#figure_github:hover {
    visibility: hidden;
    -webkit-transform: scale(1.3);
    transition: scale(1.3);
}

header h1 {
    margin-left: 20px;
    display: inline-block;
    float: left;
    text-align: left;
    font-size: 70px;
}

#figure {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

aside {
    width: 14%;
    height: 800px;
    float: left;
    padding: 1%;
    margin-top: 2%;
    margin-left: 0.5%;
    font-size: 25px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}

/*main1*/
#apresentacao {
    width: 77%;
    height: 70%;
    float: left;
    padding: 1%;
    background-color: rgb(61, 61, 61);
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 5px;
}

#tituloh2 {
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
    float: left;
}

/*main2*/
#artigo {
    width: 77%;
    height: 70%;
    float: left;
    padding: 1%;
    background-color: rgb(61, 61, 61);
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(61, 61, 61);
    float: left;
    margin-top: 2%;
}



    /**RESOLUÇÃO PORCARIA**/
@media (max-width: 575px){
    header{
        background-color: rgb(61, 61, 61);
    }

    #titulo{
        margin-top: 10px;
    }

    header h1{
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 25px;

    }

    #figure{
        width: 60px;
        height: 60px;
    }

    #figure_github{
        margin-top: 20px;
        width: 40px;
        height: 40px;
    }

    aside{
        width: 98%;
        height: auto;
        clear: left;
        margin-top: 1%;
        font-size: 20px;
    }

    main{
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
    }

}
    /**RESOLUÇÃO INTERESSANTE ENVOLVENTE**/
@media (min-width: 576px, max-width: 767px){
    header{
        background-color: rgb(61, 61, 61);

    }

    header h1{
        margin-left: 10px;
        font-size: 40px;

    }

    #figure{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #figure_github{
        margin-top: 20px;
    }
}
    /**RESOLUÇÃO DECENTE**/
@media (min-width: 768px){
    header{
        background-color: rgb(61, 61, 61);

    }

}
    /**RESOLUÇÃO DE BURGUÊS**/
@media (min-width: 992px){


}